/2-Machine*Learning/Regression
/3-Deep*Learning
/4-Deployment
/5-Datasets
/2-Machine*Learning/projects/classification/Gender*Voice*Prediction
/2-Machine*Learning/projects/classification/Red*Wine*Quality
/2-Machine*Learning/projects/classification/Mine*vs*Rock*Prediction
/2-Machine*Learning/projects/classification/Parkinsons*Diagnosis*Prediction
/2-Machine*Learning/projects/Regression